# This file is to say which environmental variables are required
# so that people can create a private .env

# BD
DB_NAME=
DB_USER=
DB_PASSWORD=

# API
API_PORT=
NODE_ENV=
CORS_ORIGIN=

# Auth
JWT_SECRET=
REFRESH_SECRET=