# This file is to say which environmental variables are required
# so that people can create a private .env

# BD
DB_NAME=crowdflow_db
DB_USER=root
DB_PASSWORD=root

# API
API_PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# Auth
JWT_SECRET=
REFRESH_SECRET=